
@import url('https://fonts.googleapis.com/css?family=Tajawal');


$geraldine: #E57373;
$geraldine1 :#F58F8D;
$geraldine2 :#F7A5A4;
$geraldine3 :#F9B7B6;
$geraldine4 :#FAC5C5;
$geraldine5 :#FBD1D1;
$geraldine6 :#FCDADA;
$geraldine7 :#FDE1E1;
$geraldine8 :#FDE7E7;
$geraldine9 :#FDECEC;

* {
    font-family: 'Tajawal', sans-serif;
}


#navbar {
  padding-top: 0;
  
  #menu {
    
    ul {
      margin: 5px;
      
      li {
        float: left;
        margin: 5px;
      }
    }
  }
}

#section {
  &-one {
    height: 400px;

    #video-what{
        position: relative;
        bottom: 0;
    }
    #video {
        top: 30%;
    }
    
    #carousel-container{

      @media only screen and (max-width: 600px) {
        #div-container {
          height: 450px;
        }
      }
      
      .container {
        width: 210px;
        height: 140px;
        position: relative;
        top: 180px;
        margin: 0 auto 40px;
        border: 1px solid #CCC;
        -webkit-perspective: 1100px;
        -moz-perspective: 1100px;
        -o-perspective: 1100px;
        perspective: 1100px;

        #carousel {
          width: 100%;
          height: 100%;
          position: absolute;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -webkit-transition: -webkit-transform 1s;
          -moz-transition: -moz-transform 1s;
          -o-transition: -o-transform 1s;
          transition: transform 1s;
  
          figure {
            display: block;
            position: absolute;
            width: 186px;
            height: 116px;
            left: 10px;
            top: 10px;
            border: 2px solid black;
            line-height: 15px;
            font-size: 11px;
            font-weight: bold;
            color: white;
            text-align: center;
            margin: 0;
            
            -webkit-transition: opacity 1s, -webkit-transform 1s;
            -moz-transition: opacity 1s, -moz-transform 1s;
            -o-transition: opacity 1s, -o-transform 1s;
            transition: opacity 1s, transform 1s;
          }
        }
      }
  
      #carousel.panels-backface-invisible figure {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      #navigation-left, #navigation-right {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        > * {
          flex: 1 1 auto;

          @media only screen and (max-width: 500px) {
            font-size: 15px !important;
          }
        }
      }

      #navigation-left div {
        &:nth-child(1) {
          font-size: 18px;
          color: #ffc400;
        }
        &:nth-child(2) {
          font-size: 29px;
          color: #810099;
        }
        &:nth-child(3) {
          font-size: 20px;
          color: #ff9400;
        }
        &:nth-child(4) {
          font-size: 17px;
          color: #00cc17;
        }
        &:nth-child(5) {
          font-size: 24px;
          color: #3a33ff;
        }
        &:nth-child(6) {
          font-size: 20px;
          color: #3fb0ac;
        }
        &:nth-child(7) {
          font-size: 21px;
          line-height: 19px;
          text-align: center;
          color: #b56969;
        }
        &:nth-child(8) {
          font-size: 26px;
          color: #dbe9d8;
        }
        &:nth-child(9) {
          font-size: 22px;
          color: #cdd422;
        }
        &:nth-child(10) {
          font-size: 16px;
          color: #a08b54;
        }
        &:nth-child(11) {
          font-size: 19px;
          color: #677077;
        }
        &:nth-child(12) {
          font-size: 13px;
          color: #9900ff;
        }
        &:nth-child(13) {
          font-size: 26px;
          color: #e05915;
        }
      }
    }
  }
  &-two {
    .cups {
      height: 300px;
      border: 1px solid black;
  
      .body {
        background-size: cover;
        height: 50%;
        background-repeat: no-repeat;
  
        &#lifecup {
          background-image: url("http://lifecup.co/wp-content/uploads/2016/11/Redes.jpg");
        }
        &#yuuki {
          background-image: url("https://menstrualcupreviews.net/reviews/yuuki/yuuki3.jpg");
        }
        &#meluna {
          background-image: url("https://menstrualcupreviews.net/reviews/meluna/meluna_main.jpg");
        }
  
        
      }
    } 
  }
  &-three {
    margin: 20px;
    border: 1px solid grey;
    text-align: center;

    #iconos {
      width: 60%;
      margin: auto;
      max-width: 400px;
      min-width: 200px;

      
      > li{
        float: left;
        cursor: pointer;
        height: 50px;
        width: 50px;
        margin: 0 20px;
        background-size: 240px;
        background-image: url("https://image.freepik.com/vector-gratis/coleccion-de-logotipos-modernos-de-redes-sociales-de-acuarela_1361-346.jpg");
        background-position-y: -103px;

        &:hover {
          background-position-y: -45px;
        }
      }
      #in {
        background-position-x: -22px;
      }
      #fb {
        background-position-x: -72px;
      }
      #tw {
        background-position-x: -120px;
      }
      #wh {
        background-position-x: -168px;
      }
    }
  }
}


body {
    margin: 0
}