@font-face { 
  font-family: "pumpkin"; 
  src: url('../fonts/Pumpkin Pie Lattes.ttf'); 
} 
@font-face { 
  font-family: "LemonYellowSun"; 
  src: url('../fonts/tipografiaLemonYellowSun.otf'); 
} 
@font-face { 
  font-family: "bombing"; 
  src: url('../fonts/Bombing.ttf'); 
} 


$geraldine0 :#f5818191;
$geraldine: #E57373;
$geraldine1 :#F58F8D;
$geraldine2 :#F7A5A4;
$geraldine3 :#F9B7B6;
$geraldine4 :#FAC5C5;
$geraldine5 :#FBD1D1;
$geraldine6 :#FCDADA;
$geraldine7 :#FDE1E1;
$geraldine8 :#FDE7E7;
$geraldine9 :#FDECEC;

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
    transform: rotate(0deg);
  }
  
  40%{
    transform: translate3d(2px, 0, 0)
  }

  60% {
    transform: translate3d(-4px, 0, 0);
    transform: rotate(-5deg);
  }
}

* {
  font-family: "pumpkin"; 
}

.bombing {
  font-family: "bombing"
}

#navbar {
  padding-top: 0;
  
  #menu {
    
    ul {
      margin: 5px;
      
      li {
        float: left;
        margin: 5px;

        u {
          font-family: monospace;
          font-size: 13px;
        }
      }
    }
  }
}

#section- {
  &questions {
    #video-what{
        position: relative;
        bottom: 0;
    }
    #video {
        top: 30%;
    }
    
    #carousel-container{

      @media only screen and (max-width: 600px) {
        #div-container {
          height: 450px;
        }
      }

      @media only screen and (min-width: 768px) {
        #div-container {
          margin-top: -3em;
        }
      }
      
      .container {
        width: 210px;
        height: 140px;
        position: relative;
        top: 180px;
        margin: 0 auto 40px;
        -webkit-perspective: 1100px;
        -moz-perspective: 1100px;
        -o-perspective: 1100px;
        perspective: 1100px;

        #carousel {
          width: 100%;
          height: 100%;
          position: absolute;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -webkit-transition: -webkit-transform 1s;
          -moz-transition: -moz-transform 1s;
          -o-transition: -o-transform 1s;
          transition: transform 1s;
  
          figure {
            cursor: pointer;
            background-image: url(../img/hqdefault.webp);
            background-size: contain;
            display: block;
            position: absolute;
            width: 186px;
            height: 116px;
            left: 10px;
            top: 10px;
            border: 2px solid black;
            line-height: 15px;
            font-size: 11px;
            font-weight: bold;
            color: white;
            text-align: center;
            margin: 0;
            
            -webkit-transition: opacity 1s, -webkit-transform 1s;
            -moz-transition: opacity 1s, -moz-transform 1s;
            -o-transition: opacity 1s, -o-transform 1s;
            transition: opacity 1s, transform 1s;
          }
        }
      }
  
      #carousel.panels-backface-invisible figure {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      #navigation-left, #navigation-right {
        display: flex;
        flex-flow: row wrap;

        > * {
          flex: 1 1 auto;
          cursor: pointer;

          @media only screen and (max-width: 500px) {
            font-size: 15px !important;
          }
        }
      }

      #navigation-left div {
        /* to proof */
        font-family: 'Quicksand', sans-serif;
        font-family: 'Comfortaa', cursive;
        font-family: 'Indie Flower', cursive;
        font-family: "LemonYellowSun";


        align-self: center;
        margin: 0 0.21em;
        text-align: center;

        &:nth-child(1) {
          font-size: 87px;
          color: #ffc400;
        }
        &:nth-child(2) {
          font-size: 48px;
          color: #810099;
          align-self: flex-start;
        }
        &:nth-child(3) {
          font-size: 70px;
          color: #ff9400;
          align-self: flex-end;
        }
        &:nth-child(4) {
          font-size: 37px;
          color: #00cc17;
          align-self: flex-start;
        }
        &:nth-child(5) {
          font-size: 57px;
          color: #3a33ff;
        }
        &:nth-child(6) {
          font-size: 30px;
          color: #3fb0ac;
        }
        &:nth-child(7) {
          font-size: 31px;
          line-height: 30px;
          color: #b56969;
        }
        &:nth-child(8) {
          font-size: 39px;
          color: #dbe9d8;
        }
        &:nth-child(9) {
          font-size: 37px;
          color: #cdd422;
        }
        &:nth-child(10) {
          font-size: 42px;
          color: #a08b54;
        }
        &:nth-child(11) {
          font-size: 29px;
          color: #677077;
        }
        &:nth-child(12) {
          font-size: 36px;
          color: #9900ff;
          align-self: flex-start;
        }
        &:nth-child(13) {
          font-size: 90px;
          color: #e05915;

          ul {
            background: #ffffff9c;
            height: 80%;
            li {
              a {
                width: 80px;
                height: 80px;
                background: none !important;
                box-shadow: none;
              }
              width: 80px;
              height: 80px;
              img {
                width: 80px;
              }
            }
          }
        }

        transition: font-size .4s ease-in-out;        

        // -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
        // -webkit-transition-delay: 1s; /* Safari */
        // transition-delay: 1s;
        // transition-duration: 1000ms;
        // animation-duration: 2000ms;
        &:hover {
          animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
          // font-weight: 800;
          // font-size: 200%
          // text-shadow: 0px 0px 10px #50505082;
        }
      }
    }
  }
  &products {
    overflow: hidden;
    clear: both;

    i.material-icons.lateral {
      position: relative;
      top: 100px;
      font-size: 90px;
      z-index: 3;
      box-shadow: 1px 1px 1px;
      border-radius: 42px;
      cursor: pointer;
      color: $geraldine;
      background: #ffffff91;
    }
    
    @media only screen and (max-width: 361px) {
      i.material-icons.lateral {
        top: 50px;
        font-size: 40px;
      }
      i.material-icons.play-stop, #icon-right {
        display: none
      }
    }
    i.material-icons.play-stop {
      z-index: 3;
      cursor: pointer;
      color: $geraldine1;
      position: relative;
      top: -3em;
      left: 19em;
      font-size: 30px;  

      &:focus, &:active, &:visited, &:focus-within {
        background-color: #2ab7a9;
      }
      &.play {
        left: 22em;
      }
      
    }
    #icon-right {
      text-align: right;
    }
    #slider {
      width: 3000px;
    }

    .cups {
      height: 300px;
      width: 225px;
      
      @media only screen and (max-width: 361px) {
        height: 270px;
        width: 330px;
      }
      .head {
        h1 {
          font-weight: bold;
          margin: 0;
        }
      }
      .neck {
        font-size: 50px;
        color: #3c56d6;
        margin: -15px 15px 0;
      } 
      .body {
        background-size: contain;
        background-repeat: no-repeat;
        height: 50%;
  
        &#lifecup {
          background-image: url("../img/lifecup-rosa.jpg");
        }
        &#yuuki {
          background-image: url("../img/yuuki-arcoiris.jpg");
        }
        &#meluna {
          background-image: url("../img/meLuna-morada.jpg");
        }
        
      }
      
      &:hover {
        .body {
          filter: hue-rotate(180deg) saturate(2);
        }
      }
    } 
    .swipe.col.m10 {
      max-width: 100%;
      min-width: 100%;
      
      @media only screen and (max-width: 1024px) {
        overflow: hidden;
      }
    }
    
  }
  &networks {
    margin: 20px;
    text-align: center;

    #iconos {
      width: 60%;
      margin: auto;
      max-width: 400px;
      min-width: 200px;

      
      > li{
        float: left;
        cursor: pointer;
        height: 50px;
        width: 50px;
        margin: 0 20px;
        background-size: 240px;
        background-image: url("https://image.freepik.com/vector-gratis/coleccion-de-logotipos-modernos-de-redes-sociales-de-acuarela_1361-346.jpg");
        background-position-y: -103px;
        
        @media only screen and (max-width: 640px) {
          background-position-y: -45px;
        }

        &:hover {
          background-position-y: -45px;
        }
      }
      #in {
        background-position-x: -22px;
      }
      #fb {
        background-position-x: -72px;
      }
      #tw {
        background-position-x: -120px;
      }
      #wh {
        background-position-x: -168px;
      }
    }
  }
  &collage {
    height: 500px;

    > div {
      position: relative;
      
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 0%;
        height: 100%;
        opacity: 0.4;
        transition: 0.4s all;
      }
    }
      
    > div:hover::after {
      width: 100%;
      background: #fc345f;
    }

    #top {
      background-image: url(../img/angelicaStickerL.jpg);
      height: 500px;
      background-size: contain;
      background-repeat: no-repeat;
      clip-path: polygon(0% -2%, 0% 104%, 80% 27%);
      margin-top: -500px;

    }
    #left {
      background-image: url(../img/otrasashionL.jpg);
      height: 500px;
      background-size: 800px;
    }
    #right {
      background-image: url(../img/lilianStickerL.jpg);
      height: 500px;
      background-size: 725px;
      margin-top: -500px;
      background-repeat: no-repeat;
      background-position-x: right;
      clip-path: polygon(-20% 40%, 100% 99%, 100% 0%);
      width: 52%;
      float: right;
    }
    #middle {
      background-image: url(../img/nycolestickerL.jpg);
      height: 500px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: -500px;
      width: 360px;
      margin: -500px auto;
    }
    #logo {
      background-image: url(../img/copita-rosada.png);
      height: 40%;
      background-size: contain;
      width: 12%;
      top: -425px;
      left: 725px;
      background-repeat: no-repeat;
      position: relative;
    }
  }
  &videos {
    .col.m4 {
      display: flex;
      justify-content: center;
    }
  }
  &payment {
    background-image: url(../img/sticker.jpg);
    background-size: cover;
    height: 400px;
    background-position-y: bottom;
    @media only screen and (min-width: 1919px) {
      background-position-y: -175px;
    }
    
    .bombing {    
      color: white;

      &.methods {
        font-size: 75px;
        margin: 0.6em 0 0 0.3em;
      }
      &.gather {
        font-size: 45px;
        margin: 0;
        text-shadow: 0px 1px black;
      }
    }
    #icons-bank {
      background: #ffffff52;
      border-radius: 20px;
      padding: 8px;
      display: inline-block;

      img {
        padding: 5px;
        cursor: pointer;
      } 
    }
    #free-shipping {
      text-align: right;
      img:nth-last-child(1) {
        margin-right: 2em;
      }
    }
  }
  &why-us {
    background: #ffe076;
    color: #16265d;
    padding: 2em;
    margin: 0;
    border-bottom: 10px solid orange;
    
    >p:first-child {
      font-size: 7em;
      margin: 0;
      text-align: center;
      line-height: 1em;
    }
    #content {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .we-want {
        display: flex;
        p {
          font-size: 20px;
          text-align: center;
          line-height: 30px;
          font-family: LemonYellowSun;
          b {
            font-size: 40px;
          }
        }
      }
    }
  }
}

#wave {
  width: 100%;
  height: 24px;
  background: url(../img/wave.png);
  position: relative;
  bottom: -24px;
}

body {
    margin: 0;
    overflow-x: hidden
}


/* CUSTOMS */

.container {
  max-width: 1920px;
  width: 100%;
}
